<!-- bradcam_area_start -->
<div class="bradcam_area breadcam_bg overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>About us</h3>
            </div>
        </div>
    </div>
</div>
<!-- bradcam_area_end -->
<!-- team_area_start  -->
<div class="team_area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section_title text-center mb-55">
                    <h3>4GB</h3>
                    <p>Some introduction for our team</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/member1.png" alt="" style="width:450px;height:600px">
                    </div>
                    <div class="member_info text-center">
                        <h3>Akshay Rai Chopra</h3>
                        <p>A blooming data scientist with a passion for data analytics and business forecasting. Learning something new every week.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/member2.jpeg" alt="" style="width:450px;height:600px">
                    </div>
                    <div class="member_info text-center">
                        <h3>Rashmitha Karkera</h3>
                        <p>Business Analyst, BI Analyst</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="img/team/member3.png" alt="" style="width:450px;height:600px">
                    </div>
                    <div class="member_info text-center">
                        <h3>Ran Wang</h3>
                        <p>Business analyst, Product analyst, and User Interface Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="single_team_member">
                    <div class="team_thumb">
                        <img src="~/img/team/member4.jpeg" alt="" style="width:450px;height:600px">
                    </div>
                    <div class="member_info text-center">
                        <h3>Thomas J Watson</h3>
                        <p>Junior Barber</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- team_area_end  -->
<!-- testimonial_area  -->
<div class="testimonial_area  ">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-40 text-center">
                    <h3>
                        Team Mentor
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="testmonial_active owl-carousel">
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Something about our mentor1</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testmonial/1.png" alt="">
                                        </div>
                                        <h3>Mentor1, web developer</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Something about our mentor2</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testmonial/1.png" alt="">
                                        </div>
                                        <h3>Mentor2, web developer</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_carousel">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="single_testmonial text-center">
                                    <p>Something about our mentor3</p>
                                    <div class="testmonial_author">
                                        <div class="thumb">
                                            <img src="img/testmonial/1.png" alt="">
                                        </div>
                                        <h3>Mentor3, web developer</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /testimonial_area  -->