<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                BIG title 1<br/>
                                we need a title 1<br />
                                a title 1
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="boxed-btn3">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_2 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                BIG title 2<br/>we need a title 2<br />a title 2
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="boxed-btn3">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3 overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-8">
                        <div class="slider_text">
                            <h3>
                                BIG title 3<br />we need a title 3<br />a title 3
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="#" class="boxed-btn3">Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->


<div class="site-section bg-info">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center">
                <span class="text-cursive h5 text-red d-block">Packages You Like</span>
                <h2 class="text-white">Our Packages</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="images/flaticon/svg/001-jigsaw.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-teal">Indoor Games</h3>
                    <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
                    <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="images/flaticon/svg/002-target.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-success">Outdoor Game and Event</h3>
                    <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
                    <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
                </div>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="package text-center bg-white">
                    <span class="img-wrap"><img src="images/flaticon/svg/003-mission.svg" alt="Image" class="img-fluid"></span>
                    <h3 class="text-danger">Camping for Kids</h3>
                    <p>Lorem ipsum dolor sit amet. Consequatur aliquam, fuga maiores amet quo corporis distinctio soluta recusandae?</p>
                    <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
</div>